.text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 90%;
}

.title {
  font-size: 100px;
  font-weight: 700;
}

.text {
  font-size: 30px;
  font-weight: 500;
  text-wrap: wrap;
}

._container {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  width: 70%;
}

.block-img {
  height: 60%;
  width: 30%;
}

@media screen and (max-width: 600px) {
  .block-img {
    height: 20%;
  }
  .btn {
    width: 100%;
  }
  .title {
    font-size: 50px;
    font-weight: 600;
  }
  ._container{
    height: 70vh;
  }
}
